model:
  learning_rate: 1e-5
  batch_size: 32
  model_name: 'ViT-B/16'
  optimizer: 'adam'
  weight_decay: 1e-4
  scheduler: 'LR'
  scheduler_step_size: 10
  scheduler_gamma: 0.1
  dropout_rate: 0.5

data:
  # dataset_path: "/home/gaohanchen/SBIR/CSTBIR/data/dataset/CSTBIR_dataset.json"
  dataset_path: "/home/gaohanchen/SBIR/CSTBIR/data/dataset/dataset.json"
  images_path: "/home/gaohanchen/SBIR/CSTBIR/data/images/VG_Dataset"
  sketch_path: "/home/gaohanchen/SBIR/CSTBIR/data/sketch/ndjson"
  train_split_name: 'train'
  val_split_name: 'val_large'
  batch_shuffle: True
  num_workers: 4
  pin_memory: True
  prefetch_batches: 4

training:
  gpu: True
  save_model_path: "/home/gaohanchen/SBIR/CSTBIR/data/model"
  epochs: 15

loss:
  contrastive_weight: 1.0
  text_cls_weight: 1.0
  image_cls_weight: 1.0
  detection_weight: 1.0
  reconstruction_weight: 1.0
  sr_bce_weight: 0.7
  sr_dice_weight: 0.3

detector:
  grid_size: 7
  boxes_per_cell: 2
